CONFIG_NODEWATCH_WIFI_SSID="CHANGE_ME"
CONFIG_NODEWATCH_WIFI_PASSWORD="CHANGE_ME"
CONFIG_NODEWATCH_SERVER_URL="http://192.168.1.100:8080/telemetry"
CONFIG_NODEWATCH_DEVICE_ID="esp32_01"
CONFIG_NODEWATCH_SEND_INTERVAL_MS=10000